/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Sacramento&display=swap');

:root {
    prim-color: lavender;
    sec-color: green;
    sec-dark-color: darkgreen;
    text-color: #31004a; 
}
/* deleting some default css properties */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-family: 'Mulish', sans-serif;
}

/* HEADER u NAVBAR */
header {
    background-color: var(--prim-color)
    /* be visible through scrolling down */
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 17px;
}

#logo {
    font-family: 'Sacramento', serif;
    font-size: xxx-large;
    color: var(--sec-color);
    padding-left: 10px;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    letter-spacing: 3px;
    list-style-type: none;
    font-size: 110%;
}

/* list items inside the menu */
#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid var(--sec-color);
}

/* nav bar burger menu */
nav {
    position: absolute;
    background-color: lavender;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px var(--text-color);
    padding-top: 1em;
    /* indented nav items */
    padding-left: 2em;
    /* nav bar items hidden before user click */
    display: none;
    top: 100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* HERO SECTION */
main {
    flex: 1 0 auto;
    /* main starting below header */
    margin-top: 69px;
}

#hero {
    height: 650px;
    width: 100%;
    background: url(../img/trieb_in_hand.jpg) no-repeat center/cover;
    /* fallback color if img not loading */
    background-color: var(--sec-color);
    position: relative;
}

#hero-text {
    background-color: rgba(230, 230, 250, .6);
    font-size: 140%;
    position: absolute;
    bottom: 110px;
    right: 45px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding-top: 110px;
    padding-left: 40px;
}

#hero-text > h2 { 
    color: var(--text-color);
}

#hero-text > h3  {
    color: var(--sec-dark-color);
    font-family: 'Sacramento', serif;
}

/* EVENTS page */
#event-box {
    display: flex;
    flex-wrap: wrap;
}

#event-box div {
    padding: 10px;
    text-align: center;
    border: 3px solid var(--sec-color);
}

/* INVOLVED page */

#sign-up {
    height: 650px;
    width: 100%;
    background: url(../img/frauen-harken.jpg) no-repeat center center/cover;
    /* fallback color if img not loading */
    background-color: var(--prim-color);
    position: relative;
}

#signup-form {
    color: var(--text-color);
    background-color: rgba(230, 230, 250, .6);
    padding: 20px;
}

.text-input {
    color: #31004a;
    border: 2px dotted var(--sec-color);
    border-radius: 8px;
    height: 25px;
    padding: 0 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
}

#add_info {
    height: 120px;
}

input[type='checkbox'] {
    accent-color: var(--sec-color);
}

.checkbox-buttons {
    font-size: 120%;

}

.event-button {
    border-radius: 12px;
    background-color: var(--sec-color);
    color: var(--prim-color);
    border: 2px solid var(--text-color);
    cursor: pointer;
    font-family: 'Sacramento', serif;
    font-size: 150%;
    margin-top: 20px;
    padding: 14px 40px;
}

.event-button:hover {
    opacity: .8;
}


/* FOOTER */
footer {
    background-color: var(--prim-color);
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#social-networks {
    text-align: center;
    display: flex;
    list-style-type: none;
    gap: 30px;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: var(--sec-color);
}


