/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Sacramento&display=swap');

:root {
    --prim-color: lavender;
    --sec-color: green;
    --sec-dark-color: darkgreen;
    --text-color: #31004a;
}

/* deleting some default css properties */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    padding-bottom: 60px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-family: 'Mulish', sans-serif;
}

/* HEADER u NAVBAR */
header {
    background-color: var(--prim-color);
    /* be visible through scrolling down */
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 17px;
}

#logo {
    font-family: 'Sacramento', serif;
    font-size: xxx-large;
    color: var(--sec-color);
    padding-left: 10px;
}

header a {
    text-decoration: none;
    color: inherit;
}

header a:active {
    color: var(--sec-color);
}

#menu {
    letter-spacing: 3px;
    list-style-type: none;
    font-size: 110%;
}

/* list items inside the menu */
#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid var(--sec-color);
}

/* nav bar burger menu */
nav {
    position: absolute;
    background-color: lavender;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px var(--text-color);
    padding-top: 1em;
    /* indented nav items */
    padding-left: 2em;
    /* nav bar items hidden before user click */
    display: none;
    top: 100%;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* HERO SECTION */
main {
    flex: 1 0 auto;
    margin-top: 69px;
    margin-bottom: 55px;
}

#hero {
    height: 450px;
    width: 100%;
    background: url(../img/trieb_in_hand.jpg) no-repeat center/cover;
    /* fallback color if img not loading */
    background-color: var(--sec-color);
    position: relative;
}

#hero-text {
    background-color: rgba(230, 230, 250, .9);
    font-size: 80%;
    position: absolute;
    bottom: 80px;
    right: 45px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    padding-top: 40px;
    padding-left: 20px;
}

#hero-text>h2 {
    color: var(--text-color);
}

#hero-text>h3 {
    color: var(--sec-dark-color);
    font-family: 'Sacramento', serif;
}

/* ABOUT-US section */
#about-us,
#upcoming-events {
    padding: 0 7px;

}

#about-us>h3 {
    color: var(--sec-dark-color);
    font-family: 'Sacramento', serif;
    font-size: 160%;
}

#about-us>h4 {
    bottom: 42px;
    text-shadow: 4px 4px var(--prim-color);
}

#about-us p {
    padding-bottom: 21px;
}

hr {
    border: 2px solid var(--prim-color);
}

table,
td {
    border: 1px solid var(--sec-color);
    background-color: var(--prim-color);
}

td {
    padding: 15px;
}

/* EVENTS section */
.event-box {
    display: flex;
    flex-wrap: wrap;
}

.event-box img {
    width: 67%;
    height: auto;
    margin: 0 auto;
}

.hidden-on-mobile {
    display: none;
} 

.event-box div {
    padding: 10px;
    text-align: center;
    border: 3px solid var(--sec-color);
    margin-bottom: 7px;
}

#market-box,
#course-box {
    background-color: var(--prim-color);
}

.event-box h3 {
    font-family: 'Sacramento', serif;
    font-size: 160%;
}

/* INVOLVED section */

#sign-up {
    height: 730px;
    width: 100%;
    background: url(../img/frauen-harken.jpg) no-repeat center center/cover;
    /* fallback color if img not loading */
    background-color: var(--prim-color);
    position: relative;
}

#signup-form {
    color: var(--text-color);
    background-color: rgba(230, 230, 250, .6);
    padding: 20px;
}

.text-input {
    color: #31004a;
    border: 2px dotted var(--sec-color);
    border-radius: 8px;
    height: 25px;
    padding: 0 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
}

#add_info {
    height: 120px;
    background-color: var(--prim-color);
}

input[type='checkbox'] {
    accent-color: var(--sec-color);
}

.checkbox-buttons {
    font-size: 120%;
}

.event-button {
    border-radius: 12px;
    background-color: var(--sec-color);
    color: var(--prim-color);
    border: 2px solid var(--text-color);
    cursor: pointer;
    font-family: 'Sacramento', serif;
    font-size: 150%;
    padding: 14px 40px;
}

.event-button:hover {
    opacity: .8;
}

/* going-up link */
.going-up {
    text-align: center;
    font-size: xx-large;
    padding-top: 14px;
}

/* FOOTER */
footer {
    background-color: var(--prim-color);
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

#footer-content,
#address-mail {
    padding-bottom: 15px;
}

.social-networks {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 30px;
}

.social-networks i {
    font-size: 160%;
    padding: 5%;
    color: var(--sec-dark-color);
}

/* ///////////////////////////////////////////////// */
/* MEDIA QUERIES */
/* media-query for tablets  */
@media screen and (min-width: 768px) {

    /* header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 79px;
    }

    /* hero section */
    #hero {
        height: 650px;
    }

    #hero-text {
        background-color: rgba(230, 230, 250, .6);
        font-size: 140%;
        bottom: 110px;
        width: 300px;
        height: 300px;
        padding-top: 110px;
        padding-left: 40px;
    }

    #vision-1,
    #vision-2,
    #vision-3 {
        display: flex;
        flex-direction: column;
    }

    #vision-2 {
        text-align: end;
        align-self: flex-end;
    }

    #opening-hours h3 {
        text-align: center;
        padding-bottom: 15px;
    }

    #opening-hours table {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: white;
    }

    /* events */
    .event-box {
        align-content: stretch;
    }

    .event-box h3 {
        font-family: 'Sacramento', serif;
        font-size: 220%;
    }

    .hidden-on-mobile {
        display: block;
    }

    /* sign-up */

    #signup-form {
        position: absolute;
        max-width: 400px;
        left: 25%;

    }

    /* footer */
    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

/* media query for LAPTOPS */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid var(--text-color);
    }

    main {
        margin-top: 54px;
        margin-bottom: 60px;
    }

    #about-us {
        margin-left: 12px;
        margin-right: 12px;
    }

    .vision-flex {
        display: flex;
    }

    .vision-flex>div {
        margin-right: 15px;
        margin-left: 10px;
        padding: 20px;
    }

    #vision-2 {
        text-align: start;
    }

    .event-box div {
        flex: 0 0 48%;
        margin: 7px;
    }

    #upcoming-events h2 {
        text-align: center;
    }

    .event-button {
        margin-top: 20px;
    }

    #signup-form {
        max-width: 600px;
        right: 10%;
    }
}